run = "npm run start:all"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run start:all"]

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 3000

[env]
NODE_ENV = "production"