# .replit
entrypoint = "api/src/main.ts"

[deployment]
run = ["sh", "-c", "cd api && npm install && npm run build && npm run start:prod"]
deploymentTarget = "cloudrun"

[env]
NODE_ENV = "production"

[[ports]]
localPort = 3031
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000
